[Unit]
Description=HDD Temp Mon for md127 on ANANKE
#Requires=influxdb.service
#After=influxdb.service

[Service]
Type=simple
User=root
ExecStart=/bin/bash -x /home/p27182/hddmon/hddmon127.sh

[Install]
WantedBy=default.target
